*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
	min-width: 1920px;
    font-size: 1rem;
	line-height: 1.625rem;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}